<div class="min-h-[80vh] grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6 items-stretch">
  @for (miembro of equipo; track miembro.id) {
    <mat-card class="shadow-lg p-6 flex flex-col items-center justify-start rounded-2xl h-full min-h-[460px]">
      <img
        [src]="miembro.foto"
        alt="{{ miembro.nombre }}"
        class="w-36 h-36 rounded-full object-cover mb-6 border-4 border-primary"
      />
      <mat-card-content class="text-center flex-grow flex flex-col justify-between">
        <h2 class="text-2xl font-semibold mb-2">{{ miembro.nombre }}</h2>
        <p class="text-md text-gray-600 mb-2">ID: {{ miembro.id }}</p>
        <p class="text-lg text-gray-700 italic px-8">{{ miembro.descripcion }}</p>
      </mat-card-content>
    </mat-card>
  }
</div>