<section class="w-full">
  <div class="w-1/3 p-6 m-auto my-10">
    <img class="w-full rounded-lg" src="assets/img/header.jpg" alt="card img" />
  </div>
  <div class="w-1/2 p-6 m-auto my-10">
    <h2 class="text-3xl font-bold text-center">Sobre nosotros</h2>
    <p class="text-lg text-center mt-4">
      Somos una empresa dedicada a ofrecer experiencias únicas y memorables en
      el mundo de los viajes y la hospitalidad. Con una pasión por la
      excelencia, nos esforzamos por brindar un servicio excepcional y crear
      momentos inolvidables para nuestros huéspedes.
    </p>
    <p class="text-lg text-center mt-4">
      Nuestro equipo está compuesto por profesionales altamente capacitados y
      comprometidos que trabajan arduamente para garantizar que cada detalle de
      su estancia sea perfecto. Desde la planificación de su viaje hasta su
      llegada y más allá, estamos aquí para ayudarle en cada paso del camino.
    </p>
  </div>
</section>
