<div
  class="w-full flex items-center justify-between px-20 py-4 bg-primary text-white"
>
  <div class="flex gap-4">
    <a href="#" class="hover:text-secondary transition-colors">Nosotros</a>
    <a href="#" class="hover:text-secondary transition-colors">Anuncios</a>
    <a href="#" class="hover:text-secondary transition-colors">Blog</a>
    <a href="#" class="hover:text-secondary transition-colors">Contacto</a>
  </div>
  <div class="flex gap-4">
    <a href="#" class="hover:text-secondary transition-colors">Facebook</a>
    <a href="#" class="hover:text-secondary transition-colors">Instagram</a>
    <a href="#" class="hover:text-secondary transition-colors">Twitter</a>
  </div>
</div>
