<nav
  class="flex items-center justify-between px-20 py-4 bg-transparent text-white"
>
  <a routerLink="/" class="text-3xl uppercase">Hoteles</a>
  <div class="flex gap-4 text-lg">
    <a routerLink="/about" class="hover:text-secondary transition-colors">
      Nosotros
    </a>
    <a routerLink="/" class="hover:text-secondary transition-colors">
      Anuncios
    </a>
    <a routerLink="/" class="hover:text-secondary transition-colors"> Blog </a>
    <a routerLink="/" class="hover:text-secondary transition-colors">
      Contacto
    </a>
  </div>
</nav>
