<nav
  class="flex items-center justify-between px-6 md:px-20 py-4 bg-transparent text-white"
>
  <div class="flex flex-row items-center gap-4">
    <img src="favicon.png" alt="Logo" class="w-16 h-16 sm:w-20 sm:h-20" />
    <a routerLink="/" class="text-2xl sm:text-3xl italic font-medium">
      {{ "Fluky Resorts" | uppercase }}
    </a>
  </div>

  <div class="hidden lg:flex gap-4 text-lg">
    <a
      routerLink="/about"
      [ngClass]="{
        'hover:text-primary': isroot === true,
        'hover:text-secondary': isroot === false
      }"
      class="transition-colors"
      >Nosotros</a
    >
    <a
      routerLink="/hotels"
      [ngClass]="{
        'hover:text-primary': isroot === true,
        'hover:text-secondary': isroot === false
      }"
      class="transition-colors"
      >Nuestros Hoteles</a
    >
    <a
      routerLink="/extravios"
      [ngClass]="{
        'hover:text-primary': isroot === true,
        'hover:text-secondary': isroot === false
      }"
      class="transition-colors"
      >Objetos Perdidos</a
    >
    <a
      routerLink="/credits"
      [ngClass]="{
        'hover:text-primary': isroot === true,
        'hover:text-secondary': isroot === false
      }"
      class="transition-colors"
      >Creditos</a
    >

    @if (isLoggedIn) {
    <p class="cursor-pointer transition-colors"
      [ngClass]="{
        'hover:text-primary': isroot === true,
        'hover:text-secondary': isroot === false
      }" (click)="redirectAdmin()">Hola {{ username }}</p>
    <a
      [ngClass]="{
        'hover:text-primary': isroot === true,
        'hover:text-secondary': isroot === false
      }"
      class="transition-colors cursor-pointer"
      (click)="logout()"
    >
      Cerrar Sesión
    </a>
    } @else {
    <a
      routerLink="/login"
      [ngClass]="{
        'hover:text-primary': isroot === true,
        'hover:text-secondary': isroot === false
      }"
      class="transition-colors"
    >
      Iniciar Sesión
    </a>
    }
  </div>

  <div class="lg:hidden flex items-center gap-4">
    <button
      [ngClass]="{
        'rotate-90': mobileMenuVisible,
        'rotate-0': !mobileMenuVisible
      }"
      class="text-xl transition-all duration-200"
      (click)="toggleMobileMenu()"
    >
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
  </div>
</nav>

@if (mobileMenuVisible) {
<div
  class="lg:hidden flex flex-col items-center gap-4 mt-4 text-white bg-primary px-6 py-4"
>
  <a routerLink="/about" class="hover:text-secondary transition-colors"
    >Nosotros</a
  >
  <a routerLink="/hotels" class="hover:text-secondary transition-colors"
    >Nuestros Hoteles</a
  >
  <a routerLink="/extravios" class="hover:text-secondary transition-colors"
    >Objetos Perdidos</a
  >
  <a routerLink="/credits" class="hover:text-secondary transition-colors"
    >Créditos</a
  >

  @if (isLoggedIn) {
  <p>Hola {{ username }}</p>
  <a
    (click)="logout()"
    class="hover:text-secondary transition-colors cursor-pointer"
  >
    Cerrar Sesión
  </a>
  } @else {
  <a routerLink="/login" class="hover:text-secondary transition-colors">
    Iniciar Sesión
  </a>
  }
</div>
}
