<header
  [ngClass]="{
    'relative h-screen w-full flex flex-col items-center justify-between bg-black text-white overflow-hidden':
      currentRoute === '',
    'bg-primary text-white': currentRoute !== ''
  }"
>
  @if (currentRoute === '') {
  <video
    autoplay
    muted
    loop
    playsinline
    class="absolute top-0 left-0 w-full h-full object-cover z-0"
  >
    <source [src]="video | securedom" type="video/mp4" />
    Tu navegador no soporta la etiqueta de video.
  </video>
  }

  <app-navbar
    class="w-full z-10"
    [isroot] = "currentRoute === ''"
    [isLoggedIn]="isLoggedIn"
    [username]="username"
  ></app-navbar>

  @if (currentRoute === '') {
  <div class="w-full px-20 py-32 text-2xl font-semibold text-white z-10">
    <h2 class="font-semibold italic">
      Where comfort meets luck
      <strong class="font-normal">- Fluky Resorts</strong>
    </h2>
  </div>
  }
</header>
