<div class=" flex justify-between w-full text-4xl p-5 bg-gray-100">
    <h1>Bienvenido, {{username | uppercase}}</h1>
</div>

<div class="flex flex-col w-full lg:w-3/5 lg:mx-auto gap-15 min-h-[61vh] my-8">
    <div class="flex flex-col p-4 shadow-2xl  border border-gray-100 h-fit rounded-4xl grow-1 text-center bg-white  overflow-x-scroll">
        <h3 class="text-2xl font-bold text-gray-700">Reservaciones</h3>
        @if (reservations.length === 0) {
        <div class="w-full my-8">
            <p class="text-2xl font-bold">No existen reservaciones registradas por el momento</p>
        </div>
        } @else {
        <table class="table-auto border-collapse border border-gray-300 w-full mt-4">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-300 px-4 py-2">Hotel</th>
                    <th class="border border-gray-300 px-4 py-2">Nombre</th>
                    <th class="border border-gray-300 px-4 py-2">Email</th>
                    <th class="border border-gray-300 px-4 py-2">Fecha Ingreso</th>
                    <th class="border border-gray-300 px-4 py-2">Fecha Egreso</th>
                    <th class="border border-gray-300 px-4 py-2">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (reserv of reservations; track reserv) {
                <tr>
                    <td class="border border-gray-300 px-4 py-2">{{reserv.hotel}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{reserv.nombre}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{reserv.email}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{reserv.fechaEntrada}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{reserv.fechaSalida}}</td>
                    <td class="border border-gray-300 px-4 py-2 ">
                        <a (click)="openEditModal(reservType, reserv.id)" class="icon-button mx-1 cursor-pointer">
                            <fa-icon class="hover:text-secondary transition-colors duration-200"
                                [icon]="editIcon"></fa-icon>
                        </a>
                        <a (click)="showModalDelete(reservType, reserv.id)" class="icon-button mx-1 cursor-pointer">
                            <fa-icon class="hover:text-secondary transition-colors duration-200"
                                [icon]="deleteIcon"></fa-icon>
                        </a>
                    </td>
                </tr>

                }
            </tbody>
        </table>
        }
        <button (click)="openNewModal(reservType)"
            class="group flex items-center justify-between w-10 h-10 px-[11px] mt-4 cursor-pointer border border-gray-400 rounded-full bg-gray-200 hover:w-35 hover:bg-gray-300 transition-all duration-300 ">
            <fa-icon class="group-hover:text-secondary" [icon]="addIcon"></fa-icon>
            <span
                class="mt-[-3px] opacity-0 mr-4 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap">
                Agregar
            </span>
        </button>
    </div>


    <div class="p-4 shadow-2xl  border border-gray-100 h-fit rounded-4xl grow-1 text-center bg-white">
        <h3 class="text-2xl font-bold text-gray-700">Cosas Perdidas</h3>
        @if (lostItems.length === 0) {
        <div class="w-full my-8">
            <p class="text-2xl font-bold">No existen objetos perdidos registrados por el momento</p>
        </div>
        } @else {
        <table class="table-auto border-collapse border border-gray-300 w-full mt-4">
            <thead>
                <tr class="bg-gray-200">
                    <th class="border border-gray-300 px-4 py-2">Email del Huesped</th>
                    <th class="border border-gray-300 px-4 py-2">Hotel Perdido</th>
                    <th class="border border-gray-300 px-4 py-2">Fecha de perdida</th>
                    <th class="border border-gray-300 px-4 py-2">Tipo de articulo</th>
                    <th class="border border-gray-300 px-4 py-2">actions</th>
                </tr>
            </thead>
            <tbody>
                @for (item of lostItems; track item) {
                <tr>
                    <td class="border border-gray-300 px-4 py-2">{{item.email}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{item.ubicacion}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{item.fecha}}</td>
                    <td class="border border-gray-300 px-4 py-2">{{item.tipo}}</td>
                    <td class="border border-gray-300 px-4 py-2 ">
                        <a (click)="openEditModal(lostItemType, item.id)" class="icon-button mx-1 cursor-pointer">
                            <fa-icon class="hover:text-secondary transition-colors duration-200"
                                [icon]="editIcon"></fa-icon>
                        </a>
                        <a (click)="showModalDelete(lostItemType, item.id)" class="icon-button mx-1 cursor-pointer">
                            <fa-icon class="hover:text-secondary transition-colors duration-200"
                                [icon]="deleteIcon"></fa-icon>
                        </a>
                    </td>
                </tr>

                }
            </tbody>
        </table>
        }
        <button (click)="openNewModal(lostItemType)"
            class="group flex items-center justify-between w-10 h-10 px-[11px] mt-4 cursor-pointer border border-gray-400 rounded-full bg-gray-200 hover:w-35 hover:bg-gray-300 transition-all duration-300 ">
            <fa-icon class="group-hover:text-secondary" [icon]="addIcon"></fa-icon>
            <span
                class="mt-[-3px] opacity-0 mr-4 group-hover:opacity-100 transition-opacity duration-300 whitespace-nowrap">
                Agregar
            </span>
        </button>
    </div>

</div>