<h2 mat-dialog-title>{{ type === 'reserv' ? 'Reservación' : 'Cosa perdida' }}</h2>
<mat-dialog-content>

  <ng-container *ngIf="type === 'reserv'" class="my-3">
    <app-form-reservacion [title]="title" [data]="data" [isOnAdminPanel]="true" (sendForm)="onSubmit($event)"></app-form-reservacion>
  </ng-container>

  <ng-container *ngIf="type === 'item'">
    <app-extravios [title]="title" [data]="data" [isOnAdminPanel]="true" (sendForm)="onSubmit($event)"></app-extravios>
  </ng-container>

</mat-dialog-content>
<mat-dialog-actions>
  <button class="px-5 py-2 bg-red-50 rounded-full text-red-700  hover:bg-red-100 font-bold" mat-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
